MicroPinfi/pin-3.31/source/tools/ManualExamples/pinfi
MicroPinfi/pin-3.31/source/tools/fastfi
MicroPinfi/pin-3.31/source/tools/pinfi


MicroPinfi/pin-3.31/source/tools/ManualExamples/branch_trace.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/category.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/cfg1.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/cfg.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_2.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject.cpp.save.1
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject.cpp.save.2
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_new.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific.cpp.save.1
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_fork.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_app.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_application2.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_application3.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_application3.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_application4.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_application_final.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_forked_application_final_target_xmm.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_fork_queries_2.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_fork_queries.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_injection_specific_query_instr_virtual_fork_queries.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_mem_vector.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_NEW.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_original.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_original.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_original.cpp.save.1
MicroPinfi/pin-3.31/source/tools/ManualExamples/fault_inject_original.cpp.save.2
MicroPinfi/pin-3.31/source/tools/ManualExamples/follow_child_app1.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/follow_child_app2.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/follow_child_tool.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/inscountMicroservice.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/inscountMicroservice.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/ral2.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general3.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general4.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general4.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general4.cpp.save.1
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general5.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general6.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general.cpp.save
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general_final.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/micro_pinfi_general_system_routines_final.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/pinfi
MicroPinfi/pin-3.31/source/tools/ManualExamples/print_instructions.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/print_min_el.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/printStack.cpp
MicroPinfi/pin-3.31/source/tools/ManualExamples/reg_mem_pointer_routines.cpp

# Ignore only specific .o and .so files from ManualExamples/obj-intel64/

MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/branch_trace.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/branch_trace.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/category.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/category.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/cfg1.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/cfg1.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/cfg.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/cfg.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_2.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_2.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_new.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_new.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_fork.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_fork.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_app.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_app.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application2.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application2.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application3.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application3.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application4.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application4.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application_final.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application_final.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application_final_target_xmm.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_forked_application_final_target_xmm.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_fork_queries_2.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_fork_queries_2.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_fork_queries.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_fork_queries.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_virtual_fork_queries.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_injection_specific_query_instr_virtual_fork_queries.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_mem_vector.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_mem_vector.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_NEW.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_NEW.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_original.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/fault_inject_original.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/follow_child_app1.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/follow_child_app1.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/follow_child_app2.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/follow_child_app2.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/follow_child_tool.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/follow_child_tool.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/inscountMicroservice.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/inscountMicroservice.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/ral2.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/ral2.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general3.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general3.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general4.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general4.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general5.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general5.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general6.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general6.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general_final.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general_final.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general_system_routines_final.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/micro_pinfi_general_system_routines_final.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/pinfi.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/pinfi.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/print_instructions.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/print_instructions.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/print_min_el.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/print_min_el.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/printStack.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/printStack.so
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/reg_mem_pointer_routines.o
MicroPinfi/pin-3.31/source/tools/ManualExamples/obj-intel64/reg_mem_pointer_routines.so
